@model Casgem_PortfolioCodeFirstProject.DAL.Entities.SocialMedia
@{
    ViewBag.Title = "AddSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni sosyal medya hesabı</h2>
<form method="post">
    <label>sosyal medya adı</label>
    @Html.TextBoxFor(x => x.SocialMediaName, new { @class = "form-control" })
    <br />
    <label>sosyal medya linki</label>
    @Html.TextBoxFor(x => x.SocialMediaUrl, new { @class = "form-control" })
    <br />
    <label>rehber</label>
    @Html.DropDownListFor(x => x.Guide.GuideID,  (List<SelectListItem>)ViewBag.v,new{@class = "form-control"})
    <br />
</form>

